# **3 To - Do - Task**

Please Complete all the problem listed below.

# 3.1 Warm Up Exercises:
1. Sorting and Subsetting:
Complete all following Task:
• Dataset for the Task: "titanic.csv"
Following task is common for all the problem:

1. Load the provided dataset and import in pandas DataFrame.

2. Check info of the DataFrame and identify following:

In [4]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/ Concept and Technology of AI /Titanic-Dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.

In [ ]:
fare = df[['Fare']]
fare.head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.

In [ ]:
df.head()
class_age = df[['Pclass', 'Age']]
class_age.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [ ]:
df.head()
survived_gender = df[['Survived','Sex']]
survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

# **Problem - 2 - Subsetting:**

Complete all the following Task:

# Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.

In [ ]:
fare_gt_100 = df[df['Fare'] > 100]
print(fare_gt_100)

2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.

In [ ]:
Pclass1=df[df['Pclass']==1]
print(Pclass1)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
11       0    113783  26.5500         C103        S
23       0    113788  35.5000           A6        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[216 rows x 12 columns]

3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [ ]:
passengers_age_female = df[(df['Age']==18) & (df['Sex']=='female')]
print(passengers_age_female)

     PassengerId  Survived  Pclass  \
38            39         0       3
49            50         0       3
311          312         1       1
417          418         1       2
585          586         1       1
651          652         1       2
654          655         0       3
677          678         1       3
700          701         1       1
702          703         0       3
786          787         1       3
807          808         0       3
855          856         1       3

                                                  Name     Sex   Age  SibSp  \
38                  Vander Planke, Miss. Augusta Maria  female  18.0      2
49       Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.0      1
311                         Ryerson, Miss. Emily Borie  female  18.0      2
417                      Silven, Miss. Lyyli Karoliina  female  18.0      0
585                                Taussig, Miss. Ruth  female  18.0      0
651                                Doling, Miss. Elsie  female  18.0      0
654                       Hegarty, Miss. Hanora "Nora"  female  18.0      0
677                            Turja, Miss. Anna Sofia  female  18.0      0
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.0      1
702                              Barbara, Miss. Saiide  female  18.0      0
786                          Sjoblom, Miss. Anna Sofia  female  18.0      0
807                    Pettersson, Miss. Ellen Natalia  female  18.0      0
855                         Aks, Mrs. Sam (Leah Rosen)  female  18.0      0

     Parch    Ticket      Fare            Cabin Embarked
38       0    345764   18.0000              NaN        S
49       0    349237   17.8000              NaN        S
311      2  PC 17608  262.3750  B57 B59 B63 B66        C
417      2    250652   13.0000              NaN        S
585      2    110413   79.6500              E68        S
651      1    231919   23.0000              NaN        S
654      0    365226    6.7500              NaN        Q
677      0      4138    9.8417              NaN        S
700      0  PC 17757  227.5250          C62 C64        C
702      1      2691   14.4542              NaN        C
786      0   3101265    7.4958              NaN        S
807      0    347087    7.7750              NaN        S
855      1    392091    9.3500              NaN        S

# Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.

In [ ]:
port_embarked = df[(df['Embarked'] == 'C') | (df['Embarked'] == 'S')]
print(port_embarked)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          885         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C

[812 rows x 12 columns]

2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first second class.View the printed result.

In [ ]:

Pclass_1_2 = df[(df['Pclass']==1) | (df['Pclass']==2)]
print(Pclass_1_2)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
9             10         1       2
11            12         1       1
..           ...       ...     ...
880          881         1       2
883          884         0       2
886          887         0       2
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
3        0            113803  53.1000  C123        S
6        0             17463  51.8625   E46        S
9        0            237736  30.0708   NaN        C
11       0            113783  26.5500  C103        S
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
883      0  C.A./SOTON 34068  10.5000   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C

[400 rows x 12 columns]

# **3.2 Exploratory Data Analysis Practice Exercise - 1.**


Warning: Handle missing values in the Age column by filling them with the median age of

the dataset before performing the division.)

Answer the following questions from Dataset:
**Which passenger had the highest fare paid relative to their age?**

To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).

In [ ]:
column_fare_per_year = df['Fare'] / df['Age']
df['fare_per_year'] = column_fare_per_year
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

2. Subset rows where fare per year is higher than 5, assigning this to high fare age.

In [ ]:
high_fare_age = df[df['fare_per_year']>5]
high_fare_age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,10.537500
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,14.562500
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S,13.842105
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,13.859733
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S,5.669643
...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082,31.2750,NaN,S,5.212500
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,19.843750
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,37.004200
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,22.590361
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,7.818750

3. Sort high fare age by descending fare per year, assigning this to high fare age srt.

In [ ]:
high_fare_age_srt = df.sort_values(by='fare_per_year', ascending=False)
high_fare_age_srt

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,164.728261
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,75.775000
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,46.900000
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,39.687500
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,39.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,NaN
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,NaN
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,NaN
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN

4. Select only the Name and fare per year columns of high fare age srt and save the result as result.

5. Look at the result.
Which adult male passenger

In [ ]:
result = high_fare_age_srt[['Name', 'fare_per_year']]
result

                                         Name  fare_per_year
305            Allison, Master. Hudson Trevor     164.728261
297              Allison, Miss. Helen Loraine      75.775000
386           Goodwin, Master. Sidney Leonard      46.900000
164              Panula, Master. Eino Viljami      39.687500
183                 Becker, Master. Richard F      39.000000
..                                        ...            ...
859                          Razi, Mr. Raihed            NaN
863         Sage, Miss. Dorothy Edith "Dolly"            NaN
868               van Melkebeke, Mr. Philemon            NaN
878                        Laleff, Mr. Kristo            NaN
888  Johnston, Miss. Catherine Helen "Carrie"            NaN

[891 rows x 2 columns]

# Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.

In [ ]:
fare_per_class = df['Fare'] / df['Pclass']
df['fare_per_class'] = fare_per_class

2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.

In [ ]:
adult_males = df[(df['Sex']=='male') & (df['Age']>=18)]
adult_males

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417,51.862500
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0.402500,2.683333
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0.801923,10.425000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0.375000,5.250000
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0.282000,2.350000
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481,6.500000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846,30.000000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.242188,2.583333

3. Sort adult males by descending fare per class, assigning this to adult males srt.

In [ ]:
adult_males_srt = df.sort_values(by='fare_per_class', ascending = False)
adult_males_srt

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,14.637977,512.3292
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,14.231367,512.3292
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,14.637977,512.3292
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S,11.434783,263.0000
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,4.109375,263.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0000,NaN,S,0.000000,0.0000
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,B94,S,0.000000,0.0000
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S,0.000000,0.0000
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,S,NaN,0.0000
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0000,NaN,S,NaN,0.0000

4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [ ]:
result= adult_males_srt[['Name', 'Age', 'fare_per_class']]
result

                                   Name   Age  fare_per_class
258                    Ward, Miss. Anna  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
737              Lesurer, Mr. Gustave J  35.0        512.3292
88           Fortune, Miss. Mabel Helen  23.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
..                                  ...   ...             ...
271        Tornquist, Mr. William Henry  25.0          0.0000
263               Harrison, Mr. William  40.0          0.0000
597                 Johnson, Mr. Alfred  49.0          0.0000
633       Parr, Mr. William Henry Marsh   NaN          0.0000
674          Watson, Mr. Ennis Hastings   NaN          0.0000

[891 rows x 3 columns]

# **3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:**
Based on the dataset Answer the following question:

**What percent of the total fare revenue came from each passenger class?**


To answer the question perform following operation:

1. Calculate the total Fare paid across all passengers in the Titanic dataset.

In [ ]:
total_fare = df['Fare'].sum()
total_fare

28693.9493

2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.

In [ ]:
first_class = df[df['Pclass']==1]
first_class_fare = first_class['Fare'].sum()
first_class_fare

18177.4125

3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).

In [ ]:
second_class = df[df['Pclass']==2]
second_class_fare = second_class['Fare'].sum()
second_class_fare

3801.8417

In [ ]:

third_class = df[df['Pclass']==3]
third_class_fare = third_class['Fare'].sum()
third_class_fare

6714.6951

4. Combine the fare totals from first, second, and third classes into a list.

In [ ]:
fare_totals = ['first_class_fare', 'second_class_fare', 'third_class_fare']
fare_totals

['first_class_fare', 'second_class_fare', 'third_class_fare']

5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [ ]:
total_fare = df['Fare'].sum()
first_class_proportion = first_class_fare / total_fare
second_class_proportion = second_class_fare / total_fare
third_class_proportion = third_class_fare / total_fare

In [ ]:
first_class_proportion

0.6334928771899656

In [ ]:
second_class_proportion

0.1324962855496507

In [ ]:
third_class_proportion

0.23401083726038366

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?
To answer the question perform following operation:

1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).

In [ ]:
new_column = []
for age in df['Age']:
  if age<18:
    new_column.append('child')
  elif age>= 18 and age==64:
    new_column.append('adult')
  else:
    new_column.append('senior')
df['age_group'] = new_column
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class,age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667,senior
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300,senior
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667,senior
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000,senior
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333,senior

2. Calculate the total number of passengers on the Titanic.

In [ ]:
total_number = df['PassengerId'].count()
total_number

891

3. Count the number of passengers in each age group.

In [ ]:
total_passengers_age= df['age_group'].value_counts()
total_passengers_age

age_group
senior    776
child     113
adult       2
Name: count, dtype: int64

4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.

In [ ]:
proportion = df['age_group'].value_counts() / total_number
proportion

age_group
senior    0.870932
child     0.126824
adult     0.002245
Name: count, dtype: float64

5. Display the proportion as a percentage.

In [ ]:
percentage = proportion *100
percentage

age_group
senior    87.093154
child     12.682379
adult      0.224467
Name: count, dtype: float64



---

# **THE END**

---